    <footer>
        <div class="footer-content">
            <h3>List Your To Dos</h3>
            <p>Solo Hiker is a website where you get services that will help you do your daily activities
            without any delays. To Do is one of many services the Solo Hiker offers for its costumers.
            With the help of To Do you can track your daily tasks easily and never forget any task.
            </p>
            <ul class="social-links">
                <li><a href="https://www.facebook.com/shams7.abbasi"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <div class="footer-menu">
                <ul class="f-menu">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>
</html>