{% include 'header.html' %}

    <header class="home-header">
        <h2>What You Say,</h2>
        <h1>Will Be Done.</h1>
        <p>
            Use our service and never forget any task. To Do is a very simple
            program that you can user to remember your daily tasks. Many of
            our costumers admire and appreciate our service. We assure you,
            using our program will help you with your tasks.
        </p>
        <a href="{{ url_for('start') }}"><button class="get-started">Get Started</button></a>
    </header>

{% include 'footer.html' %}